<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <title>{{ album.name }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans+Caption:wght@400;700&family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,500,0,0" />
  <link rel="stylesheet" href="{{ album.revpath }}/static/css-legacy/reset.css" />
  <link rel="stylesheet" href="{{ album.revpath }}/static/css-legacy/lightgallery.css" />
  <link rel="stylesheet" href="{{ album.revpath }}/static/css-legacy/style.css" />
  <link rel="icon" type="image/png" href="{{ album.revpath }}/static/favicon.png" />
</head>

<body>
  <div id="container">
    <!-- Header -->
    <header>
      <h1><a href="{{ album.revpath }}/">{{ album.name }}</a></h1>
      {% if album.selection %}
      <div class="mode">
        <button class="mode-button notification">
          <!-- Notifications -->
        </button>
        <button class="mode-button" onclick="toggleSelection();">
          Toggle
          <input class="clipboard-button" type="image" src="{{ album.revpath }}/static/images/select.svg"
            title="Toggle selection." />
        </button>
        <button class="mode-button" onclick="copySelection();">
          Copy
          <input class="clipboard-button" type="image" src="{{ album.revpath }}/static/images/copy.svg"
            title="Copy selected file names to clipboard." />
        </button>
      </div>
      {% endif %}
    </header>

    <!-- Breadcrumbs -->
    <nav id="breadcrumbs" class="breadcrumbs">
      {% for crumb in album.crumbs %}
      <a class="breadcrumb-item" href="{{ album.revpath }}/{{ crumb.url }}">{{ crumb.name }}</a>
      {% if not loop.last %}&nbsp;/&nbsp;{% endif %}
      {% endfor %}
    </nav>

    <!-- Nested Albums -->
    <div id="albums">
      {% for subalbum in album.albums %}
      <a href="{{ album.revpath }}/{{ subalbum.url }}"
        style="background-image: url('{{ album.revpath }}/{{ subalbum.image }}')">
        {% if 'special_symbol' in subalbum %}
          <div class="special-symbol" style="background-color: {{ subalbum.special_symbol.color }};">
            <span class="material-symbols-outlined">
              {{ subalbum.special_symbol.symbol }}
            </span>
          </div>
          {% endif %}
        <div class="info">
          <h3>{{ subalbum.name }}</h3>
          <div class="summary">{{ subalbum.size }} items</div>
        </div>
      </a>
      {% endfor %}
    </div>

    <!-- Top Pagination -->
    {% if album.thumbs %}
    <nav id="pagination" class="breadcrumbs">
      {% for page in album.pagination %}
      <a href="{{ album.revpath }}/{{ page.url }}" class="breadcrumb-item {{ page.current }}">{{ page.page }}</a>
      {% endfor %}
    </nav>
    {% endif %}

    <!-- Media -->
    <ul id="media" class="clearfix">
      {% for thumb in album.thumbs %}
      {% if album.group and loop.index0 is divisibleby album.group %}
      <br />
      {% endif %}
      <li>
        <div class="overlay overlay-left">
          {{ album.start_idx + loop.index }}
          {% if thumb.orig_width >= 1000 or thumb.orig_height >= 1000 %}
          <span class="hd-img">HD</span>
          {% endif %}
        </div>
        <div class="overlay overlay-right">
          <a href="{{ album.revpath }}/{{ thumb.large }}" class="lg-selector" 
            data-sub-html="#sdis-caption-{{ album.start_idx + loop.index }}" data-download-url="{{ album.revpath }}/{{ thumb.full }}">
            <img src="{{ album.revpath }}/static/images/expand.svg" title="Open in gallery view" /></a>
          <a target="_blank" href="{{ album.revpath }}/{{ thumb.full }}">
            <img src="{{ album.revpath }}/static/images/external.svg" title="Open in a new tab" /></a>
        </div>
        <img src="{{ album.revpath }}/{{ thumb.small }}" loading="eager" width="{{ thumb.width }}"
          height="{{ thumb.height }}">
        <div class="info">{{ thumb.name }}</div>
      </li>
      {% endfor %}
    </ul>

    <!-- Captions -->
    <div id="sdis-captions">
      {% for thumb in album.thumbs %}
      <div id="sdis-caption-{{ album.start_idx + loop.index }}">
        
        <!-- Collapsible Content -->
        <div class="sdis-caption-content-container"> 

          <!-- Generation Info -->
          <div class="sdis-toggle-content" data-section="sdis-caption-info">

            <div class="geninfo-container">
              {% for key, value in thumb.genparams.items() %}
                <div class="geninfo-element{{ ' geninfo-full-width' if key in ['Prompt', 'Negative prompt'] }}">
                  <div class="geninfo-key">{{ key }}:</div>
                  <div class="geninfo-value">{{ value }}</div>
                </div>
              {% endfor %}
            </div>

          </div>

          <!-- Generation Text -->
          <div class="sdis-toggle-content" data-section="sdis-caption-text">
            <div class="gentext sdis-copy-text" data-id="{{ album.start_idx + loop.index }}">{{ thumb.gentext }}</div>
          </div>

        </div>

        <!-- Title -->
        <div class="sdis-caption-title">{{ thumb.name }}</div>

        <!-- Buttons (Left) -->
        <div class="sdis-caption-button-container-left">
          <!-- Info Button -->
          <button class="sdis-caption-button sdis-copy-button" data-id="{{ album.start_idx + loop.index }}">
            <span class="material-symbols-outlined">content_copy</span>
          </button>
        </div>

        <!-- Buttons (Right) -->
        <div class="sdis-caption-button-container-right">
          <!-- Info Button -->
          <button class="sdis-caption-button sdis-toggle-button" data-section="sdis-caption-info" data-group="sdis-caption-buttons">
            <span class="material-symbols-outlined">info</span>
          </button>

          <!-- Text Button -->
          <button class="sdis-caption-button sdis-toggle-button" data-section="sdis-caption-text" data-group="sdis-caption-buttons">
            <span class="material-symbols-outlined">sticky_note_2</span>
          </button>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Bottom Pagination -->
    {% if album.thumbs %}
    <nav id="pagination" class="breadcrumbs breadcrumbs-bottom">
      {% for page in album.pagination %}
      <a href="{{ album.revpath }}/{{ page.url }}" class="breadcrumb-item {{ page.current }}">{{ page.page }}</a>
      {% endfor %}
    </nav>
    {% endif %}

    <!-- Footer -->
    <footer>
      Created using <a href="https://github.com/sipefree/stable-diffusion-image-server">Stable Diffusion Image Server</a>.
    </footer>
  </div>

  <script src="{{ album.revpath }}/static/js/jquery.min.js"></script>
  <script src="{{ album.revpath }}/static/js/lightgallery.js"></script>
  <script src="{{ album.revpath }}/static/js/lg-zoom.min.js"></script>
  <script src="{{ album.revpath }}/static/js/index.js"></script>
  {% if album.selection %}
  <script src="{{ album.revpath }}/static/js/selection.js"></script>
  <script src="{{ album.revpath }}/static/js/select.js"></script>
  {% endif %}
</body>

</html>